{% extends "layout.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	<div class="login-wrapper">
		<div class="logo">
			<img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo">
		</div>
		<div class="text-center mt-4 name">
			<h1>Mood Palet</h1>
		</div>
		<div class="text-center mt-2">
			<h2>
				{% block instruction %}
					Enter your login credentials:
				{% endblock %}
			</h2>
			<div class="alert-info">
				{{ message_info }}
			</div>
			<div class="alert-danger">
				{{ message_alert }}
			</div>
		</div>
		<form class="p-3" method="POST">
			<div class="form-field d-flex align-items-center">
				<span class="fas fa-user"></span>
				<label for="username"></label>
				<input type="text" name="username" id="username" placeholder="Username">
			</div>
			<div class="form-field d-flex align-items-center">
				<span class="fas fa-key"></span>
				{% block password_input %}
					<input type="password" name="password" id="password" placeholder="Password">
				{% endblock %}
			</div>
			<button class="btn mt-3" type="submit">
				{% block button_label %}
					Login
				{% endblock %}
			</button>
		</form>
		<div class="text-center login-link-create">
		{%  block link %}
			<a href="{{ url_for('signup') }}">Create account</a>
		{% endblock %}
		</div>
		<div class="text-center mt-3">
			<a href="{{ url_for('doc_pp') }}">Privacy policy</a> | <a href="{{ url_for('doc_tou') }}">Term of use</a>
		</div>
	</div>
{% endblock %}
